<p>
  <b>Category:</b>
  <%=h @product.category_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @product.permalink %>
</p>

<p>
  <b>Position:</b>
  <%=h @product.position %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
